{% extends "layout.html" %}
{% block title %} abdulaziz {% endblock %}
{% block content %}
{% load static %}

	<div class="head" style="background-image: url({% static 'img/head2.jpg' %});">
        <div class="head_caption">
            <h1>Блог</h1>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Блог</a></li>
            </ul>
        </div>
    </div>

   <div class="wrapper">
       <div class="container">
           <div class="row">
               {% for blog in blogs %}
               <div class="col-lg-4 col-md-6">
                   <div class="blog_box">
                       <a href="#" class="blog_img">
                           <img src="{{ blog.photo.url }}" alt="">
                       </a>
                       <div class="blog_date">{{ blog.created_at }}</div>
                       <a href="#" style="margin: 50px" class="blog_title">{{ blog.info }}</a>
                   </div>
               </div>
               {% endfor %}

           <a href="#" class="bmore">Загрузить еще</a>
       </div>
   </div>
   </div>

{% endblock %}