{% extends "layout.html" %}
{% block title %} Blog {% endblock %}
{% block content %}
{% load static %}

    <div class="head" style="background-image: url({% static 'img/head1.jpg' %});">
        <div class="container pos">
            <div class="head_caption full">
                <h1>В Ташкенте впервые пройдёт ювелирная выставка</h1>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">В Ташкенте впервые пройдёт ювелирная выставка</a></li>
                </ul>
            </div>
        </div>
        
    </div>
	
   <div class="wrapper">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                <p>Еще в 2018 году, создавая салон «Suma-jewellery» мы отчетливо представляли, что хотим предложить нашим клиентам новую концепцию ювелирного салона, новый формат, новый образец ювелирного магазина для взыскательных людей, ценящих свое время, желания, потребности и индивидуальность.</p>

                <p>Еще в 2018 году, создавая салон «Suma-jewellery» мы отчетливо представляли, что хотим предложить нашим клиентам новую концепцию ювелирного салона, новый формат, новый образец ювелирного магазина для взыскательных людей, ценящих свое время, желания, потребности и индивидуальность.</p>
                <p>Еще в 2018 году, создавая салон «Suma-jewellery» мы отчетливо представляли, что хотим предложить нашим клиентам новую концепцию ювелирного салона, новый формат, новый образец ювелирного магазина для взыскательных людей, ценящих свое время, желания, потребности и индивидуальность.</p>
                
                
               </div>
               <div class="col-md-6">
                   <img src="{% static 'img/pict.jpg' %}" alt="" class="full">
               </div>
               <div class="col-md-6 offset-md-3">
                   <p class="text-center">Время доказало верность выбранному подходу, направленному на максимальное удовлетворение клиентов, ценящих внимание, имеющих особые требования к комфорту, сервису и спокойствию, знающих ценность таких предметов роскоши, как эксклюзивные ювелирные украшения.</p>
               </div>
               <div class="col-md-6">
                <p>Еще в 2018 году, создавая салон «Suma-jewellery» мы отчетливо представляли, что хотим предложить нашим клиентам новую концепцию ювелирного салона, новый формат, новый образец ювелирного магазина для взыскательных людей, ценящих свое время, желания, потребности и индивидуальность.</p>

                <p>Еще в 2018 году, создавая салон «Suma-jewellery» мы отчетливо представляли, что хотим предложить нашим клиентам новую концепцию ювелирного салона, новый формат, новый образец ювелирного магазина для взыскательных людей, ценящих свое время, желания, потребности и индивидуальность.</p>
                <p>Еще в 2018 году, создавая салон «Suma-jewellery» мы отчетливо представляли, что хотим предложить нашим клиентам новую концепцию ювелирного салона, новый формат, новый образец ювелирного магазина для взыскательных людей, ценящих свое время, желания, потребности и индивидуальность.</p>
                
                
               </div>
               <div class="col-md-6">
                <p>Еще в 2018 году, создавая салон «Suma-jewellery» мы отчетливо представляли, что хотим предложить нашим клиентам новую концепцию ювелирного салона, новый формат, новый образец ювелирного магазина для взыскательных людей, ценящих свое время, желания, потребности и индивидуальность.</p>

                <p>Еще в 2018 году, создавая салон «Suma-jewellery» мы отчетливо представляли, что хотим предложить нашим клиентам новую концепцию ювелирного салона, новый формат, новый образец ювелирного магазина для взыскательных людей, ценящих свое время, желания, потребности и индивидуальность.</p>
                <p>Еще в 2018 году, создавая салон «Suma-jewellery» мы отчетливо представляли, что хотим предложить нашим клиентам новую концепцию ювелирного салона, новый формат, новый образец ювелирного магазина для взыскательных людей, ценящих свое время, желания, потребности и индивидуальность.</p>
                
                
               </div>
               <div class="padding_box">
                <div class="banner full" style="background-image: url({% static 'img/banner.jpg' %});">
                   <div class="banner_caption">
                      <div class="banner_stitle">Коллекция украшений</div>
                      <div class="banner_title">Искушение</div>
                      <p>Золотые украшения с драгоценными камнями обладают особым магнетизмом и шармом, которыми их наделила сама природа</p>
                      <a href="#">Подробнее <img src="{% static 'img/right_arrow.svg' %}" alt=""></a>
                   </div>
                </div>
             </div>
           </div>
           <h2>По теме</h2>
           <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog_box">
                    <a href="#" class="blog_img">
                        <img src="{% static 'img/pict.jpg' %}" alt="">
                    </a>
                    <div class="blog_date">Январь 17, 2020</div>
                    <a href="#" class="blog_title">В Ташкенте впервые пройдёт ювелирная выставка</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
             <div class="blog_box">
                 <a href="#" class="blog_img">
                     <img src="{% static 'img/pict.jpg' %}" alt="">
                 </a>
                 <div class="blog_date">Январь 17, 2020</div>
                 <a href="#" class="blog_title">В Ташкенте впервые пройдёт ювелирная выставка</a>
             </div>
             </div>
             <div class="col-lg-4 col-md-6">
                 <div class="blog_box">
                     <a href="#" class="blog_img">
                         <img src="{% static 'img/pict.jpg' %}" alt="">
                     </a>
                     <div class="blog_date">Январь 17, 2020</div>
                     <a href="#" class="blog_title">В Ташкенте впервые пройдёт ювелирная выставка</a>
                 </div>
             </div>
           </div>
       </div>
   </div>

{% endblock %}